In [1]:
import pandas as pd

In [6]:
df_hardskills = pd.read_csv("/Users/ivowings/Sync/Thesis/Datasources/Skills/emsi_skills_ner.csv",sep=';')
df_hardskills = df_hardskills[df_hardskills.type == 'Hard Skill']
df_hardskills = df_hardskills[['name', 'ner']]
df_hardskills

                           name  ner
0               .NET Assemblies  NaN
1                .NET Framework  NaN
2              .NET Framework 1  NaN
3              .NET Framework 3  NaN
4              .NET Framework 4  NaN
...                         ...  ...
28607  iSqFt (Bidding Software)  NaN
28608                     jMock  NaN
28609                 pH Meters  NaN
28610                     qTest  NaN
28611                spatialNET  NaN

[28280 rows x 2 columns]

In [9]:
df_hardskills['name'] = df_hardskills['name'].str.replace(r'[^A-Za-z0-9 ]+', ' ')
df_hardskills['name'] = df_hardskills['name'].str.replace(r'  ', ' ')
df_hardskills['name'] = df_hardskills['name'].str.strip()
df_hardskills['name'] = df_hardskills['name'].str.lower()
df_hardskills

<ipython-input-9-513103c5d85d>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_hardskills['name'] = df_hardskills['name'].str.replace(r'[^A-Za-z0-9 ]+', ' ')

                         name  ner
0              net assemblies  NaN
1               net framework  NaN
2             net framework 1  NaN
3             net framework 3  NaN
4             net framework 4  NaN
...                       ...  ...
28607  isqft bidding software  NaN
28608                   jmock  NaN
28609               ph meters  NaN
28610                   qtest  NaN
28611              spatialnet  NaN

[28280 rows x 2 columns]

In [10]:
df_hardskills.to_csv('/Users/ivowings/Sync/Thesis/Datasources/Preprocessed/Skills/emsi_skills.csv',index=False)