In [1]:
import pandas as pd
import spacy
import csv
from tqdm import tqdm
tqdm.pandas()
nlp = spacy.load("en_core_web_lg")

In [2]:
path = "/Users/ivowings/Sync/Thesis/Datasources/Preprocessed/n-grams/Annotated/emscad_trigrams_taxonomy.csv"
df = pd.read_csv(path,sep=';')

In [3]:
df['length'] = df['allgrams'].progress_apply(nlp)
df['length'] = df['length'].progress_apply(len)
df

100%|██████████| 308893/308893 [36:29<00:00, 141.05it/s]
100%|██████████| 308893/308893 [00:00<00:00, 712942.87it/s]

                              allgrams  label  length
0           manage procurement process    0.0       3
1       collaboratively drive strategy    0.0       3
2             proactively innovate and    1.0       3
3           responsibility manage your    1.0       3
4          presentation and experience    2.0       3
...                                ...    ...     ...
308888                include goal set    NaN       3
308889                      jazz smart    NaN       2
308890           all online initiative    NaN       3
308891             team accountability    NaN       2
308892               re analytical and    NaN       3

[308893 rows x 3 columns]

In [4]:
df = df.sort_values(by=['length'])
df

                      allgrams  label  length
237426          quantification    NaN       1
255321                  action    NaN       1
4663           trustworthiness    NaN       1
144899                  trauma    NaN       1
102604                appcodes    NaN       1
...                        ...    ...     ...
239195     juniper firewall id    NaN       4
288667         id ips firewall    NaN       4
128822  generation firewall id    NaN       4
257520         firewall id ips    NaN       4
159181          firewall id av    NaN       4

[308893 rows x 3 columns]

In [5]:
if sum(df[df.label.notnull()]['label']) > 0:
    df.to_csv(path,
              index=False, 
                       quoting=csv.QUOTE_NONNUMERIC)
    print('Writing complete.')
    df

Writing complete.

In [6]:
#train the classifier
#make predictions on the rest dataset
#keep the labels with accuracy above 85%
#repeat